In [8]:

import pandas as pd

df = pd.DataFrame( [['jkjkjjkjk', 1123], ['oioioioi', 87878], ['wtwtwtwt', 535353]])

df.shape
df

           0       1
0  jkjkjjkjk    1123
1   oioioioi   87878
2   wtwtwtwt  535353

In [9]:
df

           0       1
0  jkjkjjkjk    1123
1   oioioioi   87878
2   wtwtwtwt  535353

In [32]:
dff = pd.DataFrame( [['jkjkjjkjk', 1123], ['oioioioi', 87878], ['wtwtwtwt', 535353]],
columns=['colunaA', 'colunaB'])

In [33]:
dff

     colunaA  colunaB
0  jkjkjjkjk     1123
1   oioioioi    87878
2   wtwtwtwt   535353